.banner {
    background: var(--cor-azul-degrade);
    color: var(--cor-branco);
    text-align: center;
    padding: 2.5rem 4rem; 
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__paragrafo {
    font-weight: 500;
    padding: 1rem 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 1.5rem;
    padding: 1rem 0;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-branco);
    text-align: center;
    background: url('../img/Vector.svg');
    background-repeat: no-repeat;
    background-position: 1rem;
}

@media screen and (min-width: 1024px) {

    .banner__titulo {
        font-size: 36px;
        padding: 4rem 0 0;
    }

    .banner__paragrafo {
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 2rem;
    }

    .banner__pesquisa {
        width: 50%;
        margin-bottom: 4rem;
    }

    .banner__pesquisa::placeholder {
        background-position: 6rem;
    }
}